<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ol>
        <% for(let i=0; i < contatos.length; i++){ %>
            <li>
                <%= contatos[i].NOME %>
            </li>
            <li>
                 <%= contatos[i].TELEFONE %>
            </li>
            <li>
                 <%= contatos[i].EMAIL %>
            </li>
            <% } %>
    </ol>

    <h1>Lista de Contatos</h1>

        <form action="/contatos" method="post">
    <label for="nome">Nome:</label><br>
    <input type="text" id="nome" name="nome" required><br><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="telefone">Telefone:</label><br>
    <input type="tel" id="telefone" name="telefone" required><br><br>

    <label for="tag">Tag:</label><br>
    <input type="text" id="tag" name="tag"><br><br>

    <button type="submit">Enviar</button>
</body>
</html>