<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <ol>
    <% for(let i=0; i < lista.length; i++){ %>
        <li>
            <%= lista[i].NOME %>
        </li>
        <li>
            <%= lista[i].TELEFONE %>
        </li>

        <% } %>
       </ol>
    </body>
</html>